{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>
  I hope this will automate some responsibilities that have been neglecting in a seamless way
  that will bridge the gap between data-mining and business intelligence.
</p>

<h3>Virtual Reality Simulations</h3>
<p>
  As the modern developments in Artifical Intelligence and Virtual Machines dominate cyberspace it only seems logical to visualize the predicted IoT nodes where
  metrics can be extracted and analyzed in a cohesive, comphrehensive environment that
  transcends audio dialogue and encapsulates visual instruction.
</p>

{% endblock %}
