{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>KaosHQ</h1>
    <p class="lead">Leveraged Django to operate on MacOS w/ Microsoft Azure.</p>
    <p><a href="#" class="btn btn-primary btn-large">I built this &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is this</h2>
        <p>
            Kaos is a MUD (Multi-User-Dimension) I have been involved with for a long time. I have decided to setup a python script to run
            some routines while I tend to rl responsibilities. The purpose is fun and entertainment. The derivatives have been insurmountable.
        </p>
        <p><a class="btn btn-default" href="#">KaosHQ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>It's kind of geeky</h2>
        <p>It seems geeky at first, but I think it is a platform everyone can become immersed in.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Status</h2>
        <p>Can update via FTP ( I don't particularly like doing this ), searching for alternatives. Finding success w/ github.</p>
        <p><a class="btn btn-default" href="#">Blah &raquo;</a></p>
    </div>
</div>

{% endblock %}
