{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>KaosHQ</h1>
    <p class="lead">Kind of upset I'm unable to develop this locally so far.</p>
    <p><a href="#" class="btn btn-primary btn-large">I built this &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is this</h2>
        <p>
            Kaos is a MUD (Multi-User-Dimension) I have been actively involved in for over 20+ years. I have decided to setup a python script to run
            some routines while I tend to rl responsibilities. The purpose is fun and entertainment. The derivatives have been insurmountable.
        </p>
        <p><a class="btn btn-default" href="#">KaosHQ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>It's kind of geeky</h2>
        <p>It seems geeky at first, but I think it is a platform everyone can become immersed in.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Python Tools for Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
