{% extends "app/layout.html" %}

{% block content %}
  <div class="container-liquid">
    <div class="row">
      <div class="col-md-12">
        <h1><u>{{ link.name }}</u></h1>
        <div class="info col-sm-9">
          Host: {{ link.host }}
        </div>
        <div class="info col-sm-6">
          Port: {{ link.port }}
        </div>
        <div class="info-2 col-sm-6">
          <button type="button" class="btn btn-success">Connect</button>
          <button type="button" class="btn btn-danger">Disconnect</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="console col-md-2">
        <table>
          <tr>
            <th>Details</th>
          </tr>
          <tr>
            <td>Class: </td>
            <td>{{ link.profession }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-8">
        <nav id="navbar-example2" class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar</a>
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" href="#fat">@fat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#mdo">@mdo</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#one">one</a>
                <a class="dropdown-item" href="#two">two</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#three">three</a>
              </div>
            </li>
          </ul>
        </nav>
        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
          <h4 id="fat">@fat</h4>
          <p>...</p>
          <h4 id="mdo">@mdo</h4>
          <p>...</p>
          <h4 id="one">one</h4>
          <p>...</p>
          <h4 id="two">two</h4>
          <p>...</p>
          <h4 id="three">three</h4>
          <p>...</p>
        </div>
      </div>
      <div class="console col-md-2">
        &nbsp;
      </div>
    </div>

  </div>

{% endblock %}

{% load staticfiles %}
<script src="{% static 'app/js/link.js' %}"></script>
